apiVersion: v1
kind: Service
metadata:
  name: vpsie-autoscaler-webhook
  namespace: kube-system
  labels:
    app: vpsie-autoscaler-webhook
    component: webhook
spec:
  type: ClusterIP
  ports:
    - name: webhook
      port: 443
      targetPort: webhook
      protocol: TCP
    - name: health
      port: 9444
      targetPort: health
      protocol: TCP
  selector:
    app: vpsie-autoscaler-webhook
