apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: vpsie-autoscaler-webhook
  labels:
    app: vpsie-autoscaler-webhook
webhooks:
  - name: nodegroups.autoscaler.vpsie.com
    clientConfig:
      service:
        name: vpsie-autoscaler-webhook
        namespace: kube-system
        path: /validate/nodegroups
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCi4uLgotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    rules:
      - apiGroups:
          - autoscaler.vpsie.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - nodegroups
        scope: Namespaced
    admissionReviewVersions:
      - v1
      - v1beta1
    sideEffects: None
    timeoutSeconds: 10
    failurePolicy: Fail

  - name: vpsienodes.autoscaler.vpsie.com
    clientConfig:
      service:
        name: vpsie-autoscaler-webhook
        namespace: kube-system
        path: /validate/vpsienodes
      caBundle: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0tCi4uLgotLS0tLUVORCBDRVJUSUZJQ0FURS0tLS0tCg==
    rules:
      - apiGroups:
          - autoscaler.vpsie.com
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
          - UPDATE
        resources:
          - vpsienodes
        scope: Namespaced
    admissionReviewVersions:
      - v1
      - v1beta1
    sideEffects: None
    timeoutSeconds: 10
    failurePolicy: Fail
